
*{

	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;

}

body{

	background-image: url('../imagenes/1.jpg');
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: relative;

}

form img{

	width: 120px;
	height: 120px;
	margin-top: -100px;
	margin-bottom: 20px;
	margin-right: 100px;
	margin-left: 140px;

	
}

form{

	margin: 130px 100px 100px 400px;
	width: 60%;
	max-width: 500px;
	background: #F3F3F3;
	padding: 40px;
	border: 1px solid rgba(0,0,0,0.2)
}

h2{

	text-align: center;
	margin-bottom: 20px;
	color: black;
}

input{

	
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
}

input[type="submit"]{

	background: linear-gradient(#FFDA63,#FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}




}